* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  font-size: 80px;
  font-weight: 900;
  transform-origin: top right;
  animation: hinge 2s ease-in-out;
}

@keyframes hinge {
  20%,
  60% {
    transform: rotate(70deg);
  }
  40%,
  80% {
    transform: rotate(55deg);
    opacity: 1;
  }
  100% {
    transform: translateY(600px);
    opacity: 0;
  }
}
